body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: rgba(156, 152, 152, 0.788);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 7px;    
}

.header {
    background-color: rgb(137, 152, 153);
    grid-column: 1/-1;
}

img {
    position: fixed;
    top: 0;
    right: 0;    
    object-fit: cover;      
}

.Myname {
    font-size: 2.5rem;
    text-align: center;    
}

.shortinfo {
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(65, 52, 52);
    color: white;  
}

.headerlinks {
    list-style-type: none;    
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: darkorange;
    color: #000;    
}

.aboutme {
    background-color: rgb(66, 119, 101);
    grid-column: 1/-9;
}

.projects {
    background-color: rgb(121, 99, 70);
    grid-column: -9/-5;
}

.contact {
    background-color: rgb(150, 117, 76);
    grid-column: -5/-1;
}

.footer1 {
    background-color: rgb(129, 126, 72);
    grid-column: 1/-1;
}

a {
    color: rgb(199, 145, 28);
    background-color: rgb(58, 48, 48);
    margin-left: 10px;
    text-decoration: none;    
}

a:hover {
    color: rgb(73, 73, 143);
    background-color: rgb(173, 150, 122);
}

.form1 {
    background-color: #8f7575;
}

.button1:hover {
    color: crimson;
    background-color: #8f7575;    
}


@media screen and (max-width: 412px) {
    img {
        max-width: 70px;        
    }
    
    .Myname .shortinfo {
        text-align: left;
    }

    #navbar {
        flex-direction: column;        
    }    
}